#img-bg{
    background-image: url('../../assets/img/Studying.gif');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
a{
    cursor: pointer;
    text-decoration: none;
}
